@model Certifac.Models.Addenda

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Addenda</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAddenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAddenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.IdAddenda">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Regresar a lista de addendas</a>
</div>
